* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

a {
    text-decoration: none;
}

body {
    background-color: #879d8f;
}

/* HEADER */
#header-container {
    width: 100%;
    height: 80px;
    background-color: #2A2D32;
    display: flex;
    align-items: center;
}

#header-list {
    display: flex;
    width: 80%;
    justify-content: end;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #879d8f;
    padding-right: 70px;
}

#header-list .header-item {
    color: #F4F4C9;
    font-size: 1.1rem;
}

#image-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

#image-container #logo-type {
    color: #F4F4C9;
    font-size: 1.5rem;
}

#image-container #logo {
    width: 50px;
    padding-left: 20px;
    height: auto;
}

/* SEARCH */
#search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    width: 100%;

}

#search-container #search-bar {
    width: 30%;
    height: 40px;
    border-style: none;
    border: 1px solid #232d3a;
    border-radius: 15px;
    color: #2A2D32;
    padding: 5px;
    font-size: 1.2rem;
}


#search-container #submit-button {
    border-radius: 50%;
    border-style: none;
    margin-left: 15px;
    padding: 15px;
    background-color: #894c2c;

}

#search-container #submit-button:hover {
    background-color: #F4F4C9;
}

#media-type {
    background-color: #894c2c;
    color: #F4F4C9;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;

}


/* MAIN */
#main-container {
    height: 75vh;
    background-color: #2A2D32;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#main-container .display-container {
    width: min-content;
    height: auto;
    margin: auto;
    background-color: #879d8f;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

#main-container .media-type {
    color: #F4F4C9;
    text-align: center;
    margin-top: 2rem;
}

#anime-display {
    display: flex;
    gap: 60px;
    margin-top: 10px;
}

.anime-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    background-color: #894c2c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 15px #555658;
}

.anime-card:hover {
    box-shadow: inset 0 0 10px 5px #F4F4C9;

}

.anime-card p {
    padding-top: 10px;
    color: #F4F4C9;
}




#movie-display {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}


.movie-card {
    width: 200px;
    background-color: #894c2c;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 4px 4px 15px #555658;
}

.movie-card:hover {
    box-shadow: inset 0 0 10px 5px #F4F4C9;

}


.movie-card p {
    padding-top: 10px;
    color: #F4F4C9;
    text-align: center;
}

.card-display {
    height: min-content;
    padding: 40px;
    width: 80vw;
    background-color: rgba(35, 45, 58, 0.7);
    backdrop-filter: blur(10px);
    border: 1PX solid #F4F4C9;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;


}

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 90%;
    height: min-content;
    padding-top: 15px;
    background-color: rgba(53, 62, 56, 0.6);
}

#popup-image-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    margin-bottom: 120px;

}

#popup-image-container h1 {
    font-size: 2rem;
    color: #F4F4C9;
    margin-bottom: 20px;
}

#popup-text-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#popup-text-container #pop-year {
    color: #894c2c;
    font-weight: bold;
    font-size: 1.5rem;
}

#popup-text-container #pop-genre {
    color: #F4F4C9;
    background-color: #2A2D32;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 5px;
    width: max-content;
}

#genre-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#genre-container #genre-label {
    color: #232d3a;
    font-weight: bold;
    font-size: 1.2rem;
}

#buttons-container {
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 25px;
    height: 10%;
}

#buttons-container button {
    background-color: #894c2c;
    color: #F4F4C9;
    padding: 10px 25px 10px 25px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

#buttons-container button:hover {
    background-color: #F4F4C9;
    color: #894c2c;

}

/* RECENT */

#recent-container {
    background-color: #2A2D32;
    padding: 20px;
    height: 400px;
    padding-bottom: 100px;
   

}

#recent-container h3 {
    margin-left: 30px;
    color: #879d8f;
}

#recent-container hr {
    background-color: #879d8f;
    width: 100%;
    margin-top: 20px;
}

#recent-display {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.recent-card {
    background-color: #232d3a;
    width: min-content;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #879d8f;
}


.recent-card img {
    width: 180px;
    margin: 10px;
}

.recent-card p {
    text-align: center;
    margin: 5px;
    color: #F4F4C9
}

.recent-card #recent-button {
    background-color: #894c2c;
    color: #F4F4C9;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    margin-left: 70px;
    margin-top: 10px;
}

.recent-card:hover {
    box-shadow: inset 0 0 10px 5px #F4F4C9;
}

/* FOOTER */

#footer-container {
    height: 100px;
    position: sticky;
    bottom: 0px;
    background-color: rgba(35, 45, 58, 0.7);
    backdrop-filter: blur(10px);
}






@media screen and (min-width: 1501px) {

    #anime-display {
        display: flex;
        margin-top: 10px;
        gap: 15px;
    }

    .anime-card {
        width: 180px;
    }


}

@media screen and (max-width: 1500px) {

    #anime-display {
        display: flex;
        gap: 30px;
        margin-top: 10px;
    }

    .movie-card {
        width: 180px;

    }

    .movie-card img {
        width: 180px;

    }

    #image-container #logo-type {
        font-size: 1.5rem;
    }


}




@media screen and (max-width: 1000px) {
    #anime-display {
        display: flex;
        gap: 20px;
        margin-top: 10px;
    }

    .anime-card {
        width: 80px;
    }

    .anime-card p {
        display: none;
    }

    .movie-card {
        width: 110px;

    }

    .movie-card img {
        width: 110px;

    }

    .movie-card p {
        display: none;
    }

    .recent-card {
        width: 100px;
    }

    .recent-card img {
        width: 90px;
    }

    .recent-card p {
        font-size: 0.9rem;
    }

    .recent-card #recent-button {
        margin-left: 20px;
    }

}